src/crm-addnotes-logicapp/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "defaultValue": "crm-add-notes-logicapp",
      "type": "String"
    },
    "d365organizationUrl": {
      "defaultValue": "https://org78ec28a7.crm.dynamics.com",
      "type": "String"
    },
    "dataverseConnectionName": {
      "defaultValue": "commondataservice",
      "type": "String"
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('dataverseConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "properties": {
                    "customerName": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@body('List_rows_(preview)')?['value']",
              "actions": {
                "Add_a_new_row_(preview)": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "isdocument": true,
                      "notetext": "@triggerBody()?['description']",
                      "objectid_contact@odata.bind": "contacts(@{items('For_each')?['contactid']})",
                      "subject": "@triggerBody()?['title']"
                    },
                    "headers": {
                      "organization": "[parameters('d365organizationUrl')]",
                      "prefer": "return=representation,odata.include-annotations=*"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['commondataservice']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('annotations'))}"
                  }
                }
              },
              "runAfter": {
                "List_rows_(preview)": ["Succeeded"]
              },
              "type": "Foreach"
            },
            "List_rows_(preview)": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "headers": {
                  "accept": "application/json;odata.metadata=full",
                  "organization": "https://org78ec28a7.crm.dynamics.com",
                  "prefer": "odata.include-annotations=*"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('contacts'))}",
                "queries": {
                  "$filter": "fullname eq '@{triggerBody()?['customerName']}'",
                  "$top": 1
                }
              }
            },
            "Response": {
              "runAfter": {
                "For_each": ["Succeeded"]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "commondataservice": {
                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/commondataservice')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dataverseConnectionName'))]",
                "connectionName": "[parameters('dataverseConnectionName')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "name": "[parameters('dataverseConnectionName')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/commondataservice')]"
        },
        "displayName": "[parameters('dataverseConnectionName')]"
      }
    }
  ],
  "outputs": {}
}
